<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
         <command
               commandId="eu.fittest.eclipse.oraclesuite.checkdaikoncommand"
               icon="resources/icons/xml.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.eclipse.oraclesuite.inferdaikoncommand"
               icon="resources/icons/xml.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.eclipse.oraclesuite.inferllocommand"
               icon="resources/icons/xml.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.fittest.eclipse.oraclesuite.checkdaikoncommand"
            name="Check Daikon">
      </command>
      <command
            id="eu.fittest.eclipse.oraclesuite.inferdaikoncommand"
            name="Infer Daikon">
      </command>
      <command
            id="eu.fittest.eclipse.oraclesuite.inferllocommand"
            name="Infer llo">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.fittest.eclipse.oraclesuite.FolderContentTester"
            id="eu.fittest.eclipse.oraclesuite.foldercontenttest"
            namespace="eu.fittest.eclipse.oracle"
            properties="members_extension"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.fittest.eclipse.oraclesuite.Starter">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.eclipse.oraclesuite.actions.Checkdaikon"
            commandId="eu.fittest.oraclesuite.checkdaikoncommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>
 
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.eclipse.oraclesuite.actions.Inferdaikon"
            commandId="eu.fittest.oraclesuite.inferdaikoncommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>

         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.eclipse.oraclesuite.actions.Inferllo"
            commandId="eu.fittest.oraclesuite.inferllocommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
