<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.fsm2cte"
            nameFilter="*.fsm"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.FSM2CTEAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.generatecte"
               label="Generate CTE trees"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.cte2selenium"
            nameFilter="*.cte"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.CTE2SelenAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.generatetc"
               label="Generate Selenium/Web Test Cases"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.cte2robotium"
            nameFilter="*.cte"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.CTE2AndroidAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.generateandroidtc"
               label="Generate Robotium/Android Test Cases"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
      <objectContribution
            id="eu.fittest.tranformtools.batchgen"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.BatchCTE2TCAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.batchgentc"
               label="Batch Generation of Test Cases"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.fsm2xinput"
            nameFilter="*.fsm"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.FSM2XinputAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.generatexinput"
               label="Generate Domain Input Specification"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
      <objectContribution
            id="eu.fittest.tranformtools.sequence-based.infer"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.TraceToFSMAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.trace2fsm"
               label="Infer FSM (Sequence-Based)"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
      <objectContribution
            id="eu.fittest.tranformtools.state-based.infer"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.tranformtools.menu"
               label="&amp;FITTEST Transform"
               path="additions">
            <separator
                  name="fittestGroupSep">
            </separator>
         </menu>
         <action
               class="eu.fittest.tranformtools.popup.actions.Log2FSMAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.trace2fsm"
               label="Infer FSM (State-Based)"
               menubarPath="eu.fittest.tranformtools.menu/fittestGroupSep1">
         </action>
      </objectContribution>
   </extension>

</plugin>
