<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated project -->
      <editor
            class="eu.fittest.test.project.presentation.ProjectEditor"
            contributorClass="eu.fittest.test.project.presentation.ProjectActionBarContributor"
            default="false"
            extensions="project"
            icon="icons/fittest.jpg"
            id="eu.fittest.test.project.presentation.ProjectEditorID"
            name="FITTEST Test Project Tree Editor">
      </editor>
   </extension>

</plugin>
