<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.fittest.eclipse.gui.wizard.session.parameters">
      <page
            class="eu.fittest.eclipse.component.phplogger.wizard.PHPLoggerComponentManager"
            sessionType="recording">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
            adaptable="false"
            id="eu.fittest.eclipse.component.phplogger.eventabstraction"
            nameFilter="PHPLoggerComponent*"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="eu.fittest.eclipse.component.phplogger.actions.AbstractTraces"
               enablesFor="1"
               icon="resources/icons/traces.gif"
               id="eu.fittest.eclipse.component.phplogger.abstractEvent"
               label="Convert logs to traces"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
   </extension>

</plugin>
