<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.fittest.eclipse.gui.dot.viewer"
            nameFilter="*.dot"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.fittest.eclipse.gui.dot.actions.OpenView"
               enablesFor="1"
               icon="icons/sm.gif"
               id="eu.fittest.eclipse.gui.dot.openView"
               label="View FSM"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            filenames="*.dot"
            icon="icons/sm.gif"
            id="eu.fittest.eclipse.gui.dot.editor"
            launcher="eu.fittest.eclipse.gui.dot.Launcher"
            name="Final State Machine viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.fittest.eclipse.gui.preferences.rootpage"
            class="eu.fittest.eclipse.gui.dot.preferences.DOTPreferencePage"
            id="eu.fittest.eclipse.gui.dot.preferences.DOTPreferencePage"
            name="DOT Viewer Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.fittest.eclipse.gui.dot.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
