<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
     <objectContribution
            adaptable="false"
            id="eu.fittest.eclipse.asli.instrument1"
            nameFilter="*.lps"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.fittest.eclipse.asli.actions.InstrumentFlashAppAction"
               icon="resources/icons/flash1_16x16.png"
               id="eu.fittest.eclipse.asli.action1"
               label="Instrument Flash app"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
   </extension>

</plugin>
