<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- objectContribution
            adaptable="false"
            id="eu.fittest.fbk.efsm2ct.plugin.objectcontribution.sessionfolder"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.fbk.efsm2ct.plugin.menu1"
               label="FITTEST"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="eu.fittest.fbk.efsm2ct.plugin.popup.actions.Logs2EFSMAction"
               enablesFor="1"
               id="eu.fittest.fbk.efsm2ct.plugin.action.log2efsm"
               label="Generate EFSM"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
         <action
               class="eu.fittest.fbk.efsm2ct.plugin.popup.actions.GenerateAction"
               enablesFor="1"
               id="eu.fittest.fbk.efsm2ct.plugin.action1"
               label="Generate All"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution -->
      <!-- objectContribution
            adaptable="false"
            id="eu.fittest.fbk.efsm2ct.plugin.objectcontribution.efsmfile"
            nameFilter="*.efsm"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="eu.fittest.fbk.efsm2ct.plugin.menu1"
               label="FITTEST"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="eu.fittest.fbk.efsm2ct.plugin.popup.actions.EFSM2MonitorAction"
               id="eu.fittest.fbk.efsm2ct.plugin.action.efsm2mon"
               label="Generate EFSM monitor"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution -->
      <!-- objectContribution
            adaptable="false"
            id="eu.fittest.fbk.efsm2ct.plugin.objectcontribution.javafiles"
            nameFilter="gensrc"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.fbk.efsm2ct.plugin.menu1"
               label="FITTEST"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="eu.fittest.fbk.efsm2ct.plugin.popup.actions.CompileJavaCodeAction"
               id="eu.fittest.fbk.efsm2ct.plugin.action.compile"
               label="Compile Java Code"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.fittest.fbk.efsm2ct.plugin.objectcontribution.class"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.fbk.efsm2ct.plugin.menu1"
               label="FITTEST"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="eu.fittest.fbk.efsm2ct.plugin.popup.actions.TestGenerationAction"
               id="eu.fittest.fbk.efsm2ct.plugin.action.testgen"
               label="Generate Test Cases"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
      <objectContribution 
            adaptable="false"
            id="eu.fittest.fbk.efsm2ct.plugin.objectcontribution.evotests"
            nameFilter="evosuite-tests"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="eu.fittest.fbk.efsm2ct.plugin.menu1"
               label="FITTEST"
               path="additions">
            <separator
                  name="eu.fittest.fbk.efsm2ct.plugin.separator1">
            </separator>
         </menu>
         <action
               class="eu.fittest.fbk.efsm2ct.plugin.popup.actions.AdaptEvoTestsAction"
               id="eu.fittest.fbk.efsm2ct.plugin.actions.adaptevotests"
               label="Adapt Testcases"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution -->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.fittest.fbk.efsm2ct.plugin.views"
            name="FITTEST">
      </category>
      <view
            class="eu.fittest.fbk.efsm2ct.plugin.views.LogView"
            id="eu.fittest.fbk.efsm2ct.plugin.views.log"
            name="LogView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="eu.fittest.fbk.efsm2ct.plugin.views.Efsm2CtView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective">
         <view
               id="eu.fittest.fbk.efsm2ct.plugin.views.log"
               minimized="false"
               relationship="stack"
               relative="eu.fittest.eclipse.gui.views.job">
         </view>
         <viewShortcut
               id="eu.fittest.fbk.efsm2ct.plugin.viewShortcut.logView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.fittest.fbk.efsm2ct.plugin.commands.Logs2EFSMcommand"
            name="Generate EFSM">
      </command>
      <command
            id="eu.fittest.fbk.efsm2ct.plugin.commands.EFSM2Monitor"
            name="Generate EFSM Monitor">
      </command>
      <command
            id="eu.fittest.fbk.efsm2ct.plugin.commands.AllInOneGeneration"
            name="Generate EFSM and EFSM Monitor">
      </command>
      <command
            id="eu.fittest.fbk.efsm2ct.plugin.commands.RunEvosuite"
            name="Run SB Test Generation">
      </command>
      <command
            id="eu.fittest.fbk.efsm2ct.plugin.commands.TransformEvosuiteTests"
            name="Transform Evosuite Tests">
      </command>
      <command
            id="eu.fittest.fbk.efsm2ct.plugin.Initializer"
            name="Initializer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.Logs2EFSMHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.commands.Logs2EFSMcommand">
      </handler>
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.EFSM2MonitorHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.commands.EFSM2Monitor">
      </handler>
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.AllInOneGenerationHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.commands.AllInOneGeneration">
      </handler>
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.EvosuiteRunHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.commands.RunEvosuite">
      </handler>
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.AdaptEvosuiteTestsHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.commands.TransformEvosuiteTests">
      </handler>
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.InitHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.Initializer">
      </handler>
      <handler
            class="eu.fittest.fbk.efsm2ct.plugin.handlers.RunEvosuiteAndAdaptTestsHandler"
            commandId="eu.fittest.fbk.efsm2ct.plugin.coomands.AllInOneSecondStep">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.commands.Logs2EFSMcommand"
               label="Infer EFSM"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.efsmgeneration">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.commands.EFSM2Monitor"
               label="Generate EFSM Monitor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.monitorgeneration">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.commands.AllInOneGeneration"
               label="Infer EFSM and Generate Monitor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.efsmgeneration">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.commands.RunEvosuite"
               label="Run SB Test Generation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.evotestsearch">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.commands.TransformEvosuiteTests"
               label="Adapt Evosuite Tests"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.evotransform">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.Initializer"
               label="Initialize EFSM directory"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.init">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.fbk.efsm2ct.plugin.coomands.AllInOneSecondStep"
               label="Generate Test Cases"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.fbk.efsm2ct.plugin.evotestsearch">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.fittest.fbk.efsm2ct.plugin.utils.SingleFolderCommandScopeTester"
            id="eu.fittest.fbk.efsm2ct.plugin.propertyTester.ver2"
            namespace="eu.fittest.fbk.efsm2ct.plugin"
            properties="init,efsmgeneration,monitorgeneration,evotestsearch,evotransform"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.fittest.fbk.efsm2ct.plugin.Starter">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.fittest.eclipse.gui.preferences.rootpage"
            class="eu.fittest.fbk.efsm2ct.plugin.preferences.PreferencePage"
            id="eu.fittest.fbk.efsm2ct.plugin.preferences.PreferencePage"
            name="Efsm2Ct Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.fittest.fbk.efsm2ct.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
