<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.fittest.eclipse.gui.wizard.session.parameters">
         <page
               class="eu.fittest.eclipse.component.junit.wizard.JUnitComponentManager"
               sessionType="replaying">
      </page>
   </extension>

</plugin>
