<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.fittest.eclipse.gui.wizard.session.parameters" name="Session initialization parameters" schema="schema/eu.fittest.eclipse.gui.wizard.session.parameters.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective"
            fixed="false"
            icon="resources/icons/fittest.jpg"
            id="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective"
            name="FITTEST">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.fittest.eclipse.gui.category.FITTEST"
            name="FITTEST">
      </category>
      <view
            category="eu.fittest.eclipse.gui.category.FITTEST"
            class="eu.fittest.eclipse.gui.navigator.FITTESTNavigator"
            icon="resources/icons/fittest.jpg"
            id="eu.fittest.eclipse.gui.navigator"
            name="Testing projects">
      </view>
      <view
            allowMultiple="false"
            category="eu.fittest.eclipse.gui.category.FITTEST"
            class="eu.fittest.eclipse.gui.views.job.JobsView"
            icon="resources/icons/work16x16.png"
            id="eu.fittest.eclipse.gui.views.job"
            name="On-going testing sessions"
            restorable="true">
      </view>
      <view
            category="eu.fittest.eclipse.gui.category.FITTEST"
            class="eu.fittest.eclipse.gui.views.agents.RemoteAgentView"
            icon="resources/icons/fittest.jpg"
            id="eu.fittest.eclipse.gui.views.agent"
            name="Remote agents"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.fittest.eclipse.gui.wizards.category.FITTEST"
            name="FITTEST">
      </category>
      <wizard
            canFinishEarly="false"
            category="eu.fittest.eclipse.gui.wizards.category.FITTEST"
            class="eu.fittest.eclipse.gui.wizards.project.FITTESTProjectWizard"
            finalPerspective="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective"
            hasPages="true"
            icon="resources/icons/fittest.jpg"
            id="eu.fittest.eclipse.gui.wizards.project"
            name="FITTEST Testing Project"
            project="true">
         <description>
            Create a new testing project using FITTEST technologies.
         </description>
      </wizard>
      <wizard
            category="eu.fittest.eclipse.gui.wizards.category.FITTEST"
            class="eu.fittest.eclipse.gui.wizards.recordingsession.FITTESTRecordingSessionWizard"
            finalPerspective="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective"
            hasPages="true"
            icon="resources/icons/record16x16.png"
            id="eu.fittest.eclipse.gui.wizard.testingsession"
            name="Recording session"
            project="false">
      </wizard>
      <wizard
            category="eu.fittest.eclipse.gui.wizards.category.FITTEST"
            class="eu.fittest.eclipse.gui.wizards.replayingsession.FITTESTReplayingSessionWizard"
            finalPerspective="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective"
            hasPages="true"
            icon="resources/icons/play16x16.png"
            id="eu.fittest.eclipse.gui.wizard2"
            name="Replaying session"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="eu.fittest.eclipse.gui.navigator">
      </viewer>
      <viewerActionBinding
            viewerId="eu.fittest.eclipse.gui.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="eu.fittest.eclipse.gui.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="eu.fittest.eclipse.gui.navigator.nature.filters.hideNonFITTESTProjects">
            </contentExtension>
            <contentExtension pattern="eu.fittest.eclipse.gui.linkHelper"/>
            <!--
           	<contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
           	-->
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective">
         <view
               closeable="false"
               id="eu.fittest.eclipse.gui.navigator"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="eu.fittest.eclipse.gui.views.job"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="eu.fittest.eclipse.gui.nature.testingproject"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eu.fittest.eclipse.gui.nature.TestingProject">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eu.fittest.eclipse.gui.navigator.FITTESTContentProvider"
            id="eu.fittest.eclipse.gui.navigator.filter"
            labelProvider="eu.fittest.eclipse.gui.navigator.FITTESTLabelProvider"
            name="FITTEST Artifacts"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="eu.fittest.eclipse.model.FITTESTWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="eu.fittest.eclipse.model.FITTESTArtifact">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="eu.fittest.eclipse.model.FITTESTArtifact">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            id="eu.fittest.eclipse.gui.navigator.nature.filters.hideNonFITTESTProjects"
            name="Hide non-FITTEST projects"
            visibleInUI="false">
         <filterExpression>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <not>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="eu.fittest.eclipse.gui.nature.testingproject">
                  </test>
               </not>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.fittest.eclipse.startup.FITTESTServerStartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="resources/icons/fittest.jpg"
               id="eu.fittest.eclipse.gui.navigator.fittestMenu"
               label="FITTEST">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective">
                  </equals>
               </with>
            </visibleWhen>
            <separator
                  name="groupSep">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="eu.fittest.eclipse.gui.menubar.fittestMenu"
               label="FITTEST">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.fittest.eclipse.gui.perspectives.FITTESTPerspective">
                  </equals>
               </with>
            </visibleWhen>
            <separator
                  name="groupSep">
            </separator>
         </menu>
      </menuContribution>

   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.fittest.eclipse.gui.navigator.testingsessions.contribution"
            nameFilter="Testing sessions"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="eu.fittest.eclipse.gui.actions.NewRecordingSessionAction"
               icon="resources/icons/record16x16.png"
               id="eu.fittest.eclipse.gui.actions.startrecordingsession"
               label="Logging session"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
         <!--
         <action
               class="eu.fittest.eclipse.gui.actions.OptimizeReplayingSessionAction"
               icon="resources/icons/playOpt16x16.png"
               id="eu.fittest.eclipse.gui.actions.startoptimizereplayingsession"
               label="Optimize session"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
         -->
         <action
               class="eu.fittest.eclipse.gui.actions.NewReplayingSessionAction"
               icon="resources/icons/play16x16.png"
               id="eu.fittest.eclipse.gui.actions.startreplayingsession"
               label="Test execution session"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.fittest.eclipse.gui.preferences.FITTESTPage"
            id="eu.fittest.eclipse.gui.preferences.rootpage"
            name="FITTEST">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.eclipse.ui.internal.navigator.resources.workbench.ResourceLinkHelper"
            id="eu.fittest.eclipse.gui.linkHelper">
         <selectionEnablement>
             <instanceof value="org.eclipse.core.resources.IFile"/>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>	
      </linkHelper>
   </extension>

</plugin>
