<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.fittest.eclipse.testproject.formeditor.TestProjectEditor"
            contributorClass="eu.fittest.eclipse.testproject.formeditor.TestProjectEditorContributor"
            default="true"
            extensions="project"
            icon="icons/fittest.jpg"
            id="eu.fittest.eclipse.testproject.formeditor.ProjectEditor"
            name="FITTEST Test Project Editor">
      </editor>
   </extension>

</plugin>
