<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
         <command
               commandId="eu.fittest.eclipse.oraclesuite.checkdaikoncommand"
               icon="resources/icons/oracle.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
              <test
                     property="eu.fittest.fbk.oraclesuite.init">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.eclipse.oraclesuite.inferdaikoncommand"
               icon="resources/icons/oracle.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.oraclesuite.extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="eu.fittest.eclipse.oraclesuite.checkllocommand"
               icon="resources/icons/oracle.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.oraclesuite.extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>         
         <command
               commandId="eu.fittest.eclipse.oraclesuite.inferllocommand"
               icon="resources/icons/oracle.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.oraclesuite.extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.fittest.eclipse.oraclesuite.checkdaikoncommand"
            name="Check Daikon">
      </command>
      <command
            id="eu.fittest.eclipse.oraclesuite.inferdaikoncommand"
            name="Infer Daikon">
      </command>
      <command
            id="eu.fittest.eclipse.oraclesuite.inferllocommand"
            name="Infer llo">
      </command>
       <command
            id="eu.fittest.eclipse.oraclesuite.checkllocommand"
            name="Check llo">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.fittest.eclipse.oraclesuite.FolderContentTester"
            id="eu.fittest.eclipse.oraclesuite.foldercontenttest"
            namespace="eu.fittest.eclipse.oraclesuite"
            properties="extension"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="eu.fittest.fbk.oraclesuite.utils.SingleFolderCommandScopeTester"
            id="eu.fittest.fbk.oraclesuite.propertyTester"
            namespace="eu.fittest.fbk.oraclesuite"
            properties="init"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.fittest.eclipse.oraclesuite.Starter">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.eclipse.oraclesuite.popup.actions.CheckDaikonAction"
            commandId="eu.fittest.eclipse.oraclesuite.checkdaikoncommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>
 
      <handler
            class="eu.fittest.eclipse.oraclesuite.popup.actions.InferDaikonAction"
            commandId="eu.fittest.eclipse.oraclesuite.inferdaikoncommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>

      <handler
            class="eu.fittest.eclipse.oraclesuite.popup.actions.InferLLOAction"
            commandId="eu.fittest.eclipse.oraclesuite.inferllocommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>
      
      <handler
            class="eu.fittest.eclipse.oraclesuite.popup.actions.CheckLLOAction"
            commandId="eu.fittest.eclipse.oraclesuite.checkllocommand">
         <enabledWhen>
               <test
                     property="eu.fittest.eclipse.oraclesuite.members_extension"
                     value=".log">
               </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
          <objectContribution
            adaptable="false"
            id="eu.fittest.oraclesuite.inferdaikon"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="eu.fittest.eclipse.oraclesuite.popup.actions.InferDaikonAction"
               enablesFor="1"
               icon="resources/icons/oracle.jpg"
               id="eu.fittest.oraclesuite.inferdaikonaction"
               label="Infer Daikon"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
         <action
               class="eu.fittest.eclipse.oraclesuite.popup.actions.CheckDaikonAction"
               enablesFor="1"
               icon="resources/icons/oracle.jpg"
               id="eu.fittest.oraclesuite.checkdaikonaction"
               label="Check Daikon"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
         <action
               class="eu.fittest.eclipse.oraclesuite.popup.actions.InferLLOAction"
               enablesFor="1"
               icon="resources/icons/oracle.jpg"
               id="eu.fittest.oraclesuite.inferlloaction"
               label="Infer Low Level Oracle"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
         <action
               class="eu.fittest.eclipse.oraclesuite.popup.actions.CheckLLOAction"
               enablesFor="1"
               icon="resources/icons/oracle.jpg"
               id="eu.fittest.oraclesuite.checklloaction"
               label="Check Low Level Oracle"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
   </extension>

</plugin>
