<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
        <separator
              name="eu.fittest.eclipse.searchinf.separator1"
              visible="true">
        </separator>
         <command
               commandId="eu.fittest.eclipse.searchinf.optseqinf.command"
               icon="resources/icons/converter_icon_small.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.searchinf.members_extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
         <command
               commandId="eu.fittest.eclipse.searchinf.autoabs.command"
               icon="resources/icons/converter_icon_small.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="eu.fittest.eclipse.searchinf.members_extension"
                     value=".xml">
               </test>
            </visibleWhen>
         </command>
         <separator
               name="eu.fittest.eclipse.searchinf.separator2"
               visible="true">
        </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.fittest.eclipse.searchinf.optseqinf.command"
            name="Infer FSM (Search-enhanced Event-based) ">
      </command>
      <command
            id="eu.fittest.eclipse.searchinf.autoabs.command"
            name="Infer FSM (Search-enhanced State-based) ">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.eclipse.searchinf.transformer.actions.OptSeqBasedInference"
            commandId="eu.fittest.eclipse.searchinf.optseqinf.command">
      </handler>
      <handler
            class="eu.fittest.eclipse.searchinf.transformer.actions.AutoAbsInference"
            commandId="eu.fittest.eclipse.searchinf.autoabs.command">
      </handler>
   </extension>

	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.fittest.eclipse.searchinf.XMLLogContentTester"
            id="eu.fittest.eclipse.searchinf.foldercontenttest"
            namespace="eu.fittest.eclipse.searchinf"
            properties="members_extension"
            type="java.lang.Object">
      </propertyTester>
   </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="eu.fittest.eclipse.searchinf.StartUp">
    </startup>
 </extension>
</plugin>
