<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.fsm2cte"
            nameFilter="*.fsm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.fittest.tranformtools.popup.actions.FSM2CTEAction"
               enablesFor="1"
               icon="icons/cte.png"
               id="eu.fittest.tranformtools.generatecte"
               label="Generate CTE trees"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.cte2selenium"
            nameFilter="*.cte"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.fittest.tranformtools.popup.actions.CTE2SelenAction"
               enablesFor="1"
               icon="icons/selenium.png"
               id="eu.fittest.tranformtools.generatetc"
               label="Generate Selenium Test Cases"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="eu.fittest.tranformtools.fsm2xinput"
            nameFilter="*.fsm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.fittest.tranformtools.popup.actions.FSM2XinputAction"
               enablesFor="1"
               id="eu.fittest.tranformtools.generatexinput"
               label="Generate Domain Input Specification"
               menubarPath="eu.fittest.eclipse.gui.navigator.fittestMenu/groupSep">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.fittest.tranformtools.Starter">
      </startup>
   </extension>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.fittest.tranformtools.popup.actions.FolderContentTester"
            id="eu.fittest.eclipse.transformtools.foldercontenttest"
            namespace="eu.fittest.eclipse.transformtools"
            properties="members_extension"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.fittest.tranformtools.popup.actions.Log2FSMAction"
            commandId="eu.fittest.eclipse.transformtools.convertcommand">
         <enabledWhen>
               <test
                     args=".xml"
                     property="eu.fittest.eclipse.transformtools.members_extension"
                     value="log_">
               </test>
         </enabledWhen>
      </handler>
      <handler
            class="eu.fittest.tranformtools.popup.actions.BatchCTE2TCAction"
            commandId="eu.fittest.transformtools.batchcte2selenium">
         <enabledWhen>
            <test
                  args=".cte"
                  property="eu.fittest.eclipse.transformtools.members_extension">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="eu.fittest.tranformtools.popup.actions.TraceToFSMAction"
            commandId="eu.fittest.transformtools.trace2fsm">
         <enabledWhen>
            <test
                  args=".trc,.xml"
                  property="eu.fittest.eclipse.transformtools.members_extension"
                  value="log_">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
            <separator name="eu.fittest.transformtools.separator2" visible="true" />
         <command
               commandId="eu.fittest.eclipse.transformtools.convertcommand"
               icon="icons/converter16x16.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args=".xml"
                     property="eu.fittest.eclipse.transformtools.members_extension"
                     value="log_">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
         <command
               commandId="eu.fittest.transformtools.batchcte2selenium"
               icon="icons/selenium.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args=".cte"
                     property="eu.fittest.eclipse.transformtools.members_extension">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.fittest.eclipse.gui.navigator.fittestMenu">
         <command
               commandId="eu.fittest.transformtools.trace2fsm"
               icon="icons/converter16x16.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args=".trc,.xml"
                     property="eu.fittest.eclipse.transformtools.members_extension"
                     value="log_">
               </test>
            </visibleWhen>
         </command>
         <separator name="eu.fittest.transformtools.separator3" visible="true" />
         
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.fittest.eclipse.transformtools.convertcommand"
            name="Infer FSM (State-Based)">
      </command>
      <command
            id="eu.fittest.transformtools.batchcte2selenium"
            name="Generate Selenium Test Cases">
      </command>
      <command
            id="eu.fittest.transformtools.trace2fsm"
            name="Infer FSM (Event-Based)">
      </command>
   </extension>

</plugin>
